[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist
per-file-ignores =
    game_db/excel/steam_formatter.py:F401
    tests/fixtures/telegram.py:F821
    tests/test_menu.py:F401
